priority 1

snippet codeheading
/**
* Author: ${1:`git config --get user.name`}
* Email : ${2:`git config --get user.email`}
* Date  : ${3:`date +%Y-%m-%d`}
* /

$0
endsnippet

snippet todo
// TODO: ${1:`git config --get user.name`} `date +%Y-%m-%d`${2: implement}
endsnippet

snippet fixme
// FIXME: ${1:`git config --get user.name`} `date +%Y-%m-%d`
endsnippet
