global !p
def slug(t):
    ret=''
    for ch in t:
        if ch >= 'A' and ch <= 'Z':
            ret += '_'
            ret += ch
        elif ch == '.':
            ret += '_'
        else:
            ret += ch.upper()
    return ret
endglobal

snippet ifndefheader
#ifndef ${1:`!p
snip.rv = slug(snip.fn)
`}
#define $1 1

$0

#endif
endsnippet
