snippet checkfunc
check_function_exists(${1:func}, HAVE_`!p snip.rv = t[1].upper()`)
endsnippet

snippet checkinclude
check_include_file(${1:header}, HAVE_`!p snip.rv = t[1].replace('.', '_').upper()`)
endsnippet
